html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../images/wallpapers/city_veins_-wallpaper-5120x2880.jpg");
}
body{
    font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
    height:50vh;
    margin-top: 0;
    background: url("../images/other/king_armchair-wallpaper-2560x1440.jpg") no-repeat 50% 50% ;
    background-size: cover;
}
.content{
    width: 90%;
    margin:4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: white;
}
#middle, #top-singles{
    text-align: center;
}
.logo{
    position: fixed;
    padding-top: 16px;
    float: left;
    margin: 16px 42px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
nav{
    position: fixed;
    width: 100%;
}
nav ul{
    list-style: none;
    background: rgb(0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    transition: 1s;
}
nav.black ul{
    background: rgba(0,0,0,0.5);
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.menu-icon{
    width: 100%;
    background: url(../images/siteicons/icon_menu.svg) no-repeat 95% 20px;
    background-size: 30px 20px;
    text-align: right;
    box-sizing: border-box;
    padding: 30px 24px 10px 10px;
    cursor: pointer;
    color: #ffffff;
    display: none;
}
footer ul, footer li{
    display: inline;
    text-decoration: none;
}
footer{
    height: 50px;
    border-top:3px solid gray;
    text-align: center;
    padding-top: 6px;
    font-size:1em;
    color: white;
}
footer a{
    color: darkgray;
}
footer a:hover{
    text-decoration: blue;
}
img{
    border: 3px solid slategray;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
#top-singles{
    width: 100%;
}
#middle img{
    width: 600px;
    border-radius: 150px;
}
/* Images */
#bottom img{
    width: 150px;
    height: 100px;
}
.paragraph{
    padding: 10px 20px 0 0;
}

/* media queries for screen sizes */
@media (max-width: 580px) {
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    nav ul{
        max-height: 0;
        background: #000;
    }
    nav.black ul{
        background: #000;
    }
    .showing{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon{
        display: block;
    }
}